export WSO2_SERVER_RUNTIME=""
export WSO2_CARBON_HOME=""
export WSO2_HOSTNAME=""
export WSO2_DB_HOSTNAME=""
export WSO2_DB_PORT=""
export WSO2_DB_NAME=""
export WSO2_DB_USERNAME=""
export WSO2_DB_PASSWORD=""
export WSO2_SERVER_ARGS=""
export WSO2_DB_DRIVER_NAME=""
export WSO2_DB_PROTOCOL=""
